conda/
__pycache__/
.ipynb_checkpoints/
.nv/
.cache/
.keras/
.renv/
.slurm/
lightning_logs*/
debug_log/
log_dir/
tensorboard/
*.sif
*.zip
.snakemake*
sort*
*.pkl*
*.tar*
*.soft*
*.csv*
*.tsv*
*.gct*
*.mtx*
*.obo*
*.gaf*
*.gtf*
*.gff*
*.bed*
*.txt*
*.meme*
*.gml*
*.bb*
*.graphml*
*.gpickle*
*.h5ad*
*.loom*
*.h5Seurat
*.Rdata
*.parquet*
*.over.chain*
*.lock
*.ipynb
*.png
*.pdf
*.log
*.pyc
*.pth
*.pt
*.pkl
*.xlsx
*.bak
*.backup
*.flag
.coverage*
coverage.xml
.jupyter_ystore.db
Rplots.pdf
/dist/
/tmp/
/media
